<script type="text/javascript" src="javascripts/template.js"></script>

<div class="contentHeader">
    <div class="contentHeader__header">
        <h1 class="header__headline">Template stránka</h1>
        <div class="header__subline">Nějaký náhodný popis</div>
    </div>
</div>